@model IEnumerable<P1RestaurantReviewer.Domain.Review>
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager;
@{
    ViewData["Title"] = "All Reviews";
}

<h1>All Reviews</h1>

<p><a class="btn btn-primary" asp-controller="User" asp-action="Index" role="button">See your reviews &raquo;</a></p>

<form asp-controller="Review" asp-action="Index" method="get">
    <p>
        Search by Restaurant <input type="text" name="SearchString" method="get" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table table-secondary">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Body)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RestaurantName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Body)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RestaurantName)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>

                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Administrator"))
                    {
                        @Html.DisplayName(" | ")
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> @Html.DisplayName(" | ")
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
