@model P1RestaurantReviewer.Domain.Restaurant
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager;
@{
    ViewData["Title"] = "Details";
}

<div>
    <h4 class="content-header">Restaurant Detials</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ZipCode)
        </dd>

        @if (Model.AverageRating == 0)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AverageRating)
            </dt>
            <dd class="col-sm-10">
                No ratings yet!
            </dd>
        }
        else
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AverageRating)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AverageRating)
            </dd>
        }

    </dl>
</div>
<div>
    @Html.ActionLink("Write Review", "WriteReview", new { id = Model.Id })

    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Administrator"))
    {
        @Html.DisplayName(" | ")


        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    } |
    <a asp-action="Index">Back to List</a>


</div>


<div>
    <hr />
    <h4 class="content-header">Reviews</h4>
    <hr />

    @if (Model.Reviews.Count == 0)
    {
        <h4>No reviews yet!</h4>
    }
    else
    {
        @foreach (var review in Model.Reviews)
        {
            <dl class="row restaurant-review-list">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => review.Id)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => review.Id)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => review.Title)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => review.Title)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => review.Rating)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => review.Rating)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => review.Username)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => review.Username)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => review.Body)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => review.Body)
                </dd>
            </dl>
            <hr />
        }
    }


</div>
