@model P1RestaurantReviewer.Models.RestaurantNameViewModel
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager;

@{
    ViewData["Title"] = "Search Restaurants";
}

<h1>Search Restaurants</h1>

@if (SignInManager.IsSignedIn(User))
{<p><a class="btn btn-primary" asp-action="Create" role="button">Add New Restaurant &raquo;</a></p>}
<form asp-controller="Restaurant" asp-action="Index" method="get">
    <p>
        Select Zip Code:
        <select asp-for="ZipCode" asp-items="Model.ZipCode">
            <option value="">All</option>
        </select>
    </p>
    <p>
        Restaurant Name: <input type="text" asp-for="SearchString" />
        <input type="submit" class="btn-primary" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Restaurants[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurants[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurants[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurants[0].ZipCode)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Restaurants[0].AverageRating)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Restaurants)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ZipCode)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>

                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Administrator"))
                    {
                        @Html.DisplayName(" | ")
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> @Html.DisplayName(" | ")
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
